# Data Summary

In [1]:
import pandas as pd
from mwdata import data_summary

C:\tools\Miniconda3\envs\mw-data_describe\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning:

The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.

C:\tools\Miniconda3\envs\mw-data_describe\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning:

The sklearn.feature_selection.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_selection. Anything that cannot be imported from sklearn.feature_selection is now part of the private API.

In [2]:
df=pd.read_csv("../data/NFL Play by Play 2009-2016 (v3).csv", low_memory=False)

In [3]:
df.Date = pd.to_datetime(df.Date)
df.PlayAttempted = df.PlayAttempted.astype(bool)

In [4]:
%%time
data_summary(df)

Wall time: 10.2 s

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
Data Type,datetime64[ns],int64,int64,int64,float64,object,int64,float64,float64,object,...,float64,float64,float64,float64,float64,float64,float64,float64,float64,int64
Mean,2013-05-15 01:23:13.100784128,2.01266e+09,12.3471,2.57823,2.00123,,7.38608,1695.23,20.5746,,...,-0.386522,0.533889,0.466561,0.534217,0.466185,0.501311,0.00216328,0.0152089,-0.0104918,2012.52
Standard Deviation,,2.29226e+06,7.16817,1.13026,1.006,,4.64213,1063.07,18.0305,,...,1.97296,0.286415,0.286468,0.288647,0.288694,0.288207,0.0453262,0.0564215,0.0679719,2.29008
Median,,2.01309e+09,12,3,2,,7,1800,17,,...,0,0.531286,0.46904,0.533689,0.466617,0.504349,0,0.00355663,0,2013
Min,2009-09-10 00:00:00,2009091000,1,1,1,,0,-900,0,,...,-14,0,0,0,0,0,-0.997214,-0.999881,-0.986673,2009
Max,2017-01-01 00:00:00,2017010115,35,5,4,,15,3600,943,,...,9.55983,1,1,1,1,1,0.994848,0.994848,1,2016
# Zeros,,0,0,0,0,,6006,2027,47470,,...,20703,731,976,1460,1948,168,29300,13,20755,0
# Nulls,0,0,0,0,54218,188,0,188,374,450,...,220734,21943,21943,23360,23360,21993,4817,220738,220956,0
% Most Frequent Value,0.79,0.08,4.71,27.64,34.12,2.89,10,1.14,13.1,3.28,...,5.71,0.36,0.36,0.58,0.54,0.7,8.08,0.01,5.73,12.73